Atlassian Connect Remote Search View

<p>Generic context:</p>
<ul>
	<li>License: {{lic}}</li>
	<li>Locale: {{loc}}</li>
	<li>Time zone: {{tz}}</li>
	<li>User name: {{userName}}</li>
	<li>User key: {{userKey}}</li>
</ul>

<p>Search request context:</p>
<ul>
	<li>Link: {{link}}</li>
	<li>Start issue: {{startIssue}}</li>
	<li>End issue: {{endIssue}}</li>
	<li>Total issues: {{totalIssues}}</li>
	<li>Issues: {{issues}}</li>
</ul>